<h1>Dice Roll</h1>

<p><strong> First Die:</strong>
  <% die1 = Dice.read.sample %>
  <p><ul><img src = <%= die1["image"] %>></p></ul>
</p>

<p><strong> Second Die: </strong>
  <% die2 = Dice.read.sample %>
    <p><ul><img src = <%= die2["image"] %>></p></ul>
</p>

