<h1>Dice Roll</h1>

<p><strong> First Die:</strong>
  <% die1 = Dice.read.sample %>
  <p><ul><%= die1["number"] %></p></ul>
</p>

<p><strong> Second Die: </strong>
  <% die2 = Dice.read.sample %>
    <p><ul><%= die2["number"] %></p></ul>
</p>

