<h1>Dice Roll</h1>

<p><ul><strong> First Die:
  <% die1 = Dice.read.sample %>
  <%= die1["number"] %>
</strong></ul></p>

<p><ul><strong> First Die:
  <% die2 = Dice.read.sample %>
  <%= die2["number"] %>

    </strong>
  </ul>
</p>
