<h1> Book List </h1>

<% all_books = Book.read %>

    <table border="1"><td style="width:200px"><strong>Title</strong></td><td style="width:150px"><strong>Author</strong></td></table>

  <% all_books.each do |name| %>

    <table border="1">
      <td style="width:200px"><%= name["title"] %></td>
      <td style="width:150px"><%= name["author"] %></td>
    </table>

  <% end %>



